<section aria-label="This is a methodology page to show you how we work.">
  <!-- Card container that binds all together. -->
  <mat-card
    aria-label="These are methodology details."
    class="mat-elevation-z24"
    fxFlex="50"
    fxFlex.md="80"
    fxFlex.lt-md="90"
    fxFlexOffset="25"
    fxFlexOffset.md="10"
    fxFlexOffset.lt-md="5"
    role="region"
  >
    <!-- Title of the card. -->
    <mat-card-title aria-level="1" role="heading" title="Methodology"
      >Methodology</mat-card-title
    >
    <mat-card-subtitle aria-level="3" role="heading"
      >Modern Delivery approach.</mat-card-subtitle
    >

    <!-- Actual content starts from here. -->
    <mat-card-content>
      <mat-vertical-stepper aria-label="This is our Methodology.">
        <ng-template matStepperIcon="edit">
          <mat-icon aria-hidden="true">thumb_up</mat-icon>
        </ng-template>
        <ng-container
          *ngFor="
            let stageItem of stageItems;
            let i = index;
            let isFirst = first;
            let isLast = last
          "
        >
          <!-- Accessing [0] and [1] will have the same effect for this loop, because these are for repeated in arrays values. However, different values will throw an error due to longest array of array having length of 2. -->
          <mat-step
            aria-label="{{
              stageItem[0].stageCount
            }} stage of our Methodology is {{ stageItem[0].name }}."
            label="{{ stageItem[0].name }}"
          >
            <p
              attr.aria-label="{{ stageItem[0].name }} is the stage of {{
                stageItem[0].stageDescription
              }}. Here we do the following:"
            >
              Stage of {{ stageItem[0].stageDescription }}. Here we do the
              following:
            </p>
            <ng-container *ngFor="let listItem of stageItem">
              <mat-list dense role="list">
                <mat-list-item
                  attr.aria-label="This is {{ listItem.stepCount }} step of {{
                    listItem.name
                  }} stage."
                  role="listitem"
                >
                  <mat-icon aria-hidden="true" matListIcon>{{
                    listItem.stepIcon
                  }}</mat-icon>
                  {{ listItem.stepDescription }}
                </mat-list-item>
              </mat-list>
            </ng-container>
            <button
              *ngIf="!isFirst"
              attr.aria-label="Click here to see {{
                stageItem[0].previousStageCount
              }} stage of our methodology."
              mat-stroked-button
              matStepperPrevious
              matTooltip="Back"
            >
              Back
            </button>
            <button
              *ngIf="!isLast"
              attr.aria-label="Click here to see {{
                stageItem[0].nextStageCount
              }} stage of our methodology."
              mat-stroked-button
              matStepperNext
              matTooltip="Next"
            >
              Next
            </button>
          </mat-step>
        </ng-container>
      </mat-vertical-stepper>
    </mat-card-content>
  </mat-card>
</section>
