<h1>Services</h1>
<section
  aria-label="This is a services page to inform your about our services."
  fxLayout.lt-md="column"
  fxLayoutAlign="space-evenly center"
>
  <span
    #renderTorusKnot
    aria-label="This is Cyber Security animation."
    fxFlex="50"
    role="img"
  ></span>
  <!-- TODO: Makes this CSS Grid? Same for all services or simply change height of icons to the same one and align to the bottom text? -->

  <!-- Card container that binds all card information. -->
  <mat-card
    aria-label="This is cyber security services short description."
    class="mat-elevation-z24"
    role="region"
  >
    <!-- Title of the card. -->
    <mat-card-title aria-level="2" title="Cyber Security" role="heading"
      >Cyber Security</mat-card-title
    >

    <!-- Subtitle of the card. -->
    <mat-card-subtitle aria-level="3" role="heading"
      >Data-Driven and Future-Proof Software must come up with Cyber Security,
      together.</mat-card-subtitle
    >

    <!-- Button in order to redirect into specific service. -->
    <button
      aria-label="Click here check our cyber security services."
      color="primary"
      fxFill
      mat-raised-button
      matTooltip="Read more about Cyber Security"
      routerLink="/cyber-security"
    >
      Read more
    </button>
  </mat-card>
</section>

<section
  aria-label="This is a services page to inform your about our services."
  fxLayout.lt-md="column"
  fxLayoutAlign="space-evenly center"
>
  <!-- Card container that binds all card information. -->
  <mat-card
    aria-label="This is digital strategy services short description."
    class="mat-elevation-z24"
    role="region"
  >
    <!-- Title of the card. -->
    <mat-card-title aria-level="2" title="Digital Strategy" role="heading"
      >Digital Strategy</mat-card-title
    >

    <!-- Subtitle of the card. -->
    <mat-card-subtitle aria-level="3" role="heading"
      >Best-in-Class Development with Frictionless Digital Experience and
      Inquisitive Design.</mat-card-subtitle
    >

    <!-- Button in order to redirect into specific service. -->
    <button
      aria-label="Click here check our digital strategy services."
      color="primary"
      fxFill
      mat-flat-button
      matTooltip="Read more about Digital Strategy"
      routerLink="/digital-strategy"
    >
      Read more
    </button>
  </mat-card>
  <div class="container" fxFlex="50">
    <!-- Chart removed for SSR compatibility -->
  </div>
</section>

<section
  aria-label="This is a services page to inform your about our services."
  fxLayout.lt-md="column"
  fxLayoutAlign="space-evenly center"
>
  <canvas #renderGeoProjection fxFlex="50" id="renderGeoProjection"></canvas>
  <!-- Card container that binds all card information. -->
  <mat-card
    aria-label="This is software development services short description."
    class="mat-elevation-z24"
    role="region"
  >
    <!-- Title of the card. -->
    <mat-card-title aria-level="2" title="Software Development" role="heading"
      >Software Development</mat-card-title
    >

    <!-- Subtitle of the card. -->
    <mat-card-subtitle aria-level="3" role="heading"
      >End-to-End solutions with Scaled Architecture and Smooth
      Development.</mat-card-subtitle
    >

    <!-- Button in order to redirect into specific service. -->
    <button
      aria-label="Click here check our software development services."
      color="primary"
      fxFill
      mat-flat-button
      matTooltip="Read more about Software Development"
      routerLink="/software-development"
    >
      Read more
    </button>
  </mat-card>
</section>
