mat-card {
  p {
    text-align: justify;

    // Style links in FAQ answers
    a {
      color: #3f51b5;
      text-decoration: none;
      transition: color 1s;

      &:hover {
        color: #039be5;
        text-decoration: underline;
      }
    }
  }

  .example-tree {
    ul,
    li {
      list-style-type: none;
    }
  }
  // Hide expandable panel of questions.
  .example-tree-invisible {
    display: none;
  }

  mat-nested-tree-node ul {
    margin-bottom: 4rem;
  }
  mat-tree-node {
    margin-bottom: 2rem;
  }
}
