:host {
  display: block;
  padding: 2rem 0;
}

h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.services-grid {
  display: grid;
  gap: 4rem;
  grid-template-columns: repeat(3, minmax(20rem, 1fr));
  margin: 0 auto;
  padding: 0 clamp(1rem, 5vw, 3rem);

  @media (max-width: 960px) {
    grid-template-columns: repeat(2, minmax(20rem, 1fr));
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

