<section aria-label="This is Cyber Security page to inform your about our Cyber Security services.">
  <h1 title="Cyber Security">Cyber Security</h1>
  <!-- Container for cards. -->
  <div fxLayout="row wrap" fxLayout.lt-md="column" fxLayoutAlign="space-evenly top">
    <ng-container *ngFor="let cyberSecurityItem of cyberSecurityItems">
      <!-- Card container that binds all card information. -->
      <mat-card attr.aria-label="This is {{cyberSecurityItem.name}} service short description."
        class="mat-elevation-z24" fxFlex="25" fxFlex.md="40" fxFlex.lt-md="90" role="region">
        <!-- Title of the card. -->
        <mat-card-title aria-level="2" title="{{cyberSecurityItem.name}}" role="heading">
          {{cyberSecurityItem.name}}
        </mat-card-title>
        <img [alt]="cyberSecurityItem.name" [src]="cyberSecurityItem.src" [title]="cyberSecurityItem.name" />
        <!-- Subtitle of the card. -->
        <mat-card-subtitle
          attr.aria-label="We provide these services as part of {{cyberSecurityItem.name}}: {{cyberSecurityItem.description}}"
          aria-level="3" role="heading">{{cyberSecurityItem.description}}</mat-card-subtitle>
      </mat-card>
    </ng-container>
  </div>
</section>