<h2 class="testimonials-title">Success stories.</h2>
<owl-carousel-o [options]="customOptions">
  <ng-container *ngFor="let slidesItem of slidesItems">
    <ng-template carouselSlide [id]="slidesItem.id">
      <div class="block-item">
        <img
          [alt]="'Portrait of ' + slidesItem.name"
          [src]="slidesItem.src"
          [title]="slidesItem.name"
          decoding="async"
          height="100"
          loading="lazy"
          width="100"
        />
        <p>
          {{ slidesItem.testimonial }}
        </p>
        <div class="testimonial-name">{{ slidesItem.name }}</div>
        <strong>{{ slidesItem.position }}</strong>
      </div>
    </ng-template>
  </ng-container>
</owl-carousel-o>
