:host {
  display: block;
}

.testimonials-title {
  margin: 0 auto 2rem;
  max-width: 40rem;
  text-align: center;
}

img {
  margin: auto;
  max-width: 100px;
}

.block-item {
  background: white;
  padding: 1.875rem 0 0.625rem;
  text-align: center;

  p,
  strong {
    color: #424242;
  }
}

.testimonial-name {
  background: #3f51b5;
  border-radius: 20px;
  color: #ffffff;
  margin: 0.625rem auto 1.25rem;
  padding: 0.625rem 1.875rem;
  width: 10.625rem;
}
