<h1>Services</h1>
<div class="services-wrapper">
  <section aria-label="This is a services page to inform your about our services." class="service-section">
    <span #renderTorusKnot aria-label="This is Cyber Security animation." class="service-media" role="img"></span>

    <!-- Card container that binds all card information. -->
    <mat-card aria-label="This is cyber security services short description." class="mat-elevation-z24 service-card" role="region">
      <!-- Title of the card. -->
      <mat-card-title aria-level="2" role="heading" title="Cyber Security">Cyber Security</mat-card-title>

      <!-- Subtitle of the card. -->
      <mat-card-subtitle aria-level="3" role="heading">
        Data-Driven and Future-Proof Software must come up with Cyber Security, together.
      </mat-card-subtitle>

      <!-- Button in order to redirect into specific service. -->
      <button aria-label="Click here check our cyber security services." class="service-button" color="primary" mat-raised-button matTooltip="Read more about Cyber Security" routerLink="/services/cyber-security">
        Read more
      </button>
    </mat-card>
  </section>

  <section aria-label="This is a services page to inform your about our services." class="service-section service-section--reverse">
    <!-- Card container that binds all card information. -->
    <mat-card aria-label="This is digital strategy services short description." class="mat-elevation-z24 service-card" role="region">
      <!-- Title of the card. -->
      <mat-card-title aria-level="2" role="heading" title="Digital Strategy">Digital Strategy</mat-card-title>

      <!-- Subtitle of the card. -->
      <mat-card-subtitle aria-level="3" role="heading">
        Best-in-Class Development with Frictionless Digital Experience and Inquisitive Design.
      </mat-card-subtitle>

      <!-- Button in order to redirect into specific service. -->
      <button aria-label="Click here check our digital strategy services." class="service-button" color="primary" mat-flat-button matTooltip="Read more about Digital Strategy" routerLink="/services/digital-strategy">
        Read more
      </button>
    </mat-card>
    <div class="service-media service-chart-wrapper">
      <canvas
        aria-label="This is Digital Strategy animation."
        baseChart
        class="service-chart"
        role="img"
        [data]="lineChartData"
        [options]="lineChartOptions"
        [type]="lineChartType"
      ></canvas>
    </div>
  </section>

  <section aria-label="This is a services page to inform your about our services." class="service-section">
    <canvas #renderGeoProjection class="service-media service-projection" id="renderGeoProjection"></canvas>
    <!-- Card container that binds all card information. -->
    <mat-card aria-label="This is software development services short description." class="mat-elevation-z24 service-card" role="region">
      <!-- Title of the card. -->
      <mat-card-title aria-level="2" role="heading" title="Software Development">Software Development</mat-card-title>

      <!-- Subtitle of the card. -->
      <mat-card-subtitle aria-level="3" role="heading">
        End-to-End solutions with Scaled Architecture and Smooth Development.
      </mat-card-subtitle>

      <!-- Button in order to redirect into specific service. -->
      <button aria-label="Click here check our software development services." class="service-button" color="primary" mat-flat-button matTooltip="Read more about Software Development" routerLink="/services/software-development">
        Read more
      </button>
    </mat-card>
  </section>
</div>
