mat-card-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.sitemap-section {
  display: flex;
  flex-direction: column;
  text-align: center;

  h2 {
    font-family: 'Lora', serif !important;
    font-size: 1rem;
    font-weight: 700 !important;
    margin: 0 0 1rem 0;
    text-transform: uppercase;
  }
}

// Responsive design
@media (max-width: 768px) {
  mat-card-content {
    grid-template-columns: 1fr;
  }
}
