<section aria-label="This is a terms of use page to inform you about terms of use.">
  <!-- Card container that binds all together. -->
  <mat-card aria-label="These are our terms of use details." class="mat-elevation-z24" role="region">
    <!-- Title of the card. -->
    <mat-card-title aria-level="1" title="Terms of Use" role="heading">Terms of Use</mat-card-title>
    <mat-card-subtitle aria-level="3" role="heading">Here you can find essential terms which apply.</mat-card-subtitle>
    <!-- Actual content starts from here. -->
    <mat-card-content role="complementary">
      <div *ngFor="let section of sections">
        <h3 [attr.aria-label]="section.ariaLabel"
            data-aos="fade-up"
            [attr.data-aos-delay]="section.delay"
            data-aos-duration="1500"
            [attr.title]="section.title">
          {{ section.title }}
        </h3>
        <div data-aos="fade-up"
             [attr.data-aos-delay]="section.delay"
             data-aos-duration="1500"
             role="region">
          <ng-container *ngIf="section.hasLinks; else regularContent">
            <ng-container [ngSwitch]="section.title">
              <ng-container *ngSwitchCase="'Introduction'">
                <p>
                  <a routerLink="/terms-of-use" aria-label="Terms of Use. Click here to read more about Terms of Use."
                    title="Terms of Use">Terms of Use</a> describes to the individuals (<q>user</q>, <q>users</q>, <q>you</q>, <q>your</q>) the
                  rules
                  that apply to
                  our
                  Assets which is our Website <a routerLink="/"
                    aria-label="https://ditectrev.com. Click here to get redirected into our home page."
                    title="https://ditectrev.com">https://ditectrev.com</a> with its applications, platforms, products,
                  services,
                  subdomains or websites belonging to us with its content unless explicitly excluded by their own terms of use.
                </p>
                <p>
                  This <a routerLink="/terms-of-use" aria-label="Terms of Use. Click here to read more about Terms of Use."
                    title="Terms of Use">Terms of Use</a> are subject of our <a routerLink="/copyrights"
                    aria-label="Copyrights. Click here to read more about Copyrights." title="Copyrights">Copyrights</a> as well
                  as our <a routerLink="/privacy-and-security"
                    aria-label="Privacy &amp; Security. Click here to read more about Privacy &amp; Security."
                    title="Privacy &amp; Security">Privacy &amp; Security</a>. By
                  accessing and using our Website and Asset you confirm that you agree with all these legal rules which apply.
                </p>
                <p>
                  <a routerLink="/terms-of-use" aria-label="Terms of Use. Click here to read more about Terms of Use."
                    title="Terms of Use">Terms of Use</a> as well as any other legal information available on our website is
                  free
                  of charge.
                </p>
              </ng-container>
              <ng-container *ngSwitchCase="'About Ditectrev'">
                <p>
                  Ditectrev (<a routerLink="/"
                    aria-label="https://ditectrev.com. Click here to get redirected into our home page."
                    title="https://ditectrev.com">https://ditectrev.com</a>) is operated by and part of IBStructure Daniel
                  Danielecki (<q>company</q>, <q>Ditectrev</q>, <q>IBStructure Daniel Danielecki</q>, <q>our</q>, <q>us</q>, <q>we</q>) &ndash; a company registered
                  in Poland (European Union) under european registration number (VIES) PL9121899240. Polish identification tax
                  number (NIP) is 9121899240, whilst business entity identification number (REGON) is 366592971.
                </p>
                <p>
                  You can contact us at our registered office which is Irysowa 18, 55-220 Jelcz-Laskowice, Poland. Mail
                  correspondence please send to this address. Alternative contact is company business telephone <a
                    aria-label="+48 732 280 741. Click here give us a phone call." href="tel:+48 732 280 741"
                    title="+48 732 280 741">+48 732 280
                    741</a>
                  or email <a aria-label="contact&#64;ditectrev.com. Click here to send us an email."
                    href="mailto:contact&#64;ditectrev.com?subject=Mail from Terms of Use&body=Hi Ditectrev!%0D%0A%0D%0AMy mail is about:%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0A%0D%0ABest regards,%0D%0A"
                    title="contact&#64;ditectrev.com">contact&#64;ditectrev.com</a>.
                </p>
              </ng-container>
              <ng-container *ngSwitchCase="'Disclaimers'">
                <p>We may update our website and our Assets, which means the content may change. It includes also the Legal
                  Rules, i.e. <a routerLink="/copyrights" aria-label="Copyrights. Click here to read more about Copyrights."
                    title="Copyrights">Copyrights</a>, <a routerLink="/privacy-and-security"
                    aria-label="Privacy &amp; Security. Click here to read more about Privacy &amp; Security."
                    title="Privacy &amp; Security">Privacy &amp; Security</a> and <a routerLink="/terms-of-use"
                    aria-label="Terms of Use. Click here to read more about Terms of Use." title="Terms of Use">Terms of
                    Use</a>. To keep updated and aware of
                  our legal rules we kindly ask you to check them regularly for any changes. For conflicts between the newest
                  <a routerLink="/terms-of-use" aria-label="Terms of Use. Click here to read more about Terms of Use."
                    title="Terms of Use">Terms of Use</a> and any historical versions the newest ones holds.</p>
                <p>This website and our Assets may contain integrations and links to other websites and/or services provided by
                  third parties. We have no control these websites and/or services, therefore we assume no responsibility for
                  the content served by those. Liabilities for any and all forms of damage or loss due to their usage have to be
                  solved directly with them and we cannot assist and/or help you with this. Inclusion of an integration and/or
                  link to another website and/or service does not imply any endorsement of them and/or people controlling them.
                </p>
                <p>Information on our Website and Assets is related with our business activities and have informational nature
                  only, inter alia pertinent to offering products of our partners and published educational content. Before
                  taking any action of the content of our Website and/or Assets you must obtain professional advisory before
                  taking it. Our content is not intended to advice you.</p>
                <p>You are responsible for ensuring that everyone who access our Website and/or Assets through your internet
                  connection is aware of our Legal Rules.</p>
                <p>Waiver cannot by construed if any party of these <a routerLink="/terms-of-use"
                    aria-label="Terms of Use. Click here to read more about Terms of Use." title="Terms of Use">Terms of Use</a>
                  fails to exercise any right or remedy
                  contained herein.</p>
                <p>This <a routerLink="/terms-of-use" aria-label="Terms of Use. Click here to read more about Terms of Use."
                    title="Terms of Use">Terms of Use</a> is an agreement between you and the company, rights to any third party
                  cannot be and
                  are not conferred.</p>
                <p>User-generated content is not approved by us which means our Assets may contain content uploaded by our
                  users. Please contact us if you would like to complain for the content, because we cannot guarantee that it
                  will be always approved and/or verified by us due to high automatization of our Assets.</p>
                <p>You can link to our Assets, but you cannot do it in a such a way that the link redirects the user to a non
                  existing content and/or page. Linking from websites which you do not own is forbidden and you must not do it.
                  We reserve the right to withdraw linking permission without notice.</p>
              </ng-container>
              <ng-container *ngSwitchCase="'Intellectual Property'">
                <p>Use of this website is also governed by our <a routerLink="/copyrights"
                    aria-label="Copyrights. Click here to read more about Copyrights." title="Copyrights">Copyrights</a> and <a
                    routerLink="/privacy-and-security"
                    aria-label="Privacy &amp; Security. Click here to read more about Privacy &amp; Security."
                    title="Privacy &amp; Security">Privacy &amp; Security</a>. By accessing the
                  website you agree with them, to see details please use the appropriate links to see their details.</p>
                <p>With the upload of any data and/or material you hereby grant us an assignable, irrevocable, non-exclusive,
                  paid up, perpetual (or for the term of the protection), royalty-free, sublicensable, transferable and
                  worldwide license to such content for adapting, altering, broadcasting, changing, copying, data
                  extraction/mining/scraping, decompiling, disassembling, distributing, downloading, editing, framing, hacking,
                  lending, making a derivative work from, making available to the public, penetration testing, posting,
                  rebranding, renting, repositioning, reproducing, republishing, reverse engineering, sublicensing, transmitting
                  however we will need unless stated otherwise. We will treat this content as non-confidential and
                  non-proprietary unless stated otherwise.</p>
              </ng-container>
              <ng-container *ngSwitchCase="'Privacy'">
                <p>Use of the Website and/or our Assets is governed by our <a routerLink="/privacy-and-security"
                    aria-label="Privacy &amp; Security. Click here to read more about Privacy &amp; Security."
                    title="Privacy &amp; Security">Privacy &amp; Security</a> and there is explained how
                  we
                  may use your personal data.</p>
              </ng-container>
            </ng-container>
          </ng-container>
          <ng-template #regularContent>
            <p [innerHTML]="section.content"></p>
          </ng-template>
        </div>
      </div>
    </mat-card-content>
  </mat-card>
</section>
